<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trip Dashboard</title>
    </head>
    <body>
        <div class="container">

            <div class="header">
                <h1>Hello {{user.name}}</h1>
                <a href="{% url 'logout' %}">Logout</a>
            </div><!--end header-->
            <hr>

            <div class="your_trips">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                <h4>Your Trip Schedules</h4>
                <table>
        			<tr>
        				<th>Destination</th>
        				<th>Travel Start Date</th>
        				<th>Travel End Date</th>
        				<th>Plan</th>
        			</tr>
                    {% for trip in trips %}
                    <tr>
                        <td><a href="{% url 'trip_detail' trip.id%}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                    </tr>
                    {% endfor %}
                    <hr>
                    {% for attend in attending %}
                    <tr>
                        <td><a href="{% url 'trip_detail' attend.trip.id%}">{{attend.trip.destination}}</a></td>
                        <td>{{attend.trip.start_date}}</td>
                        <td>{{attend.trip.end_date}}</td>
                        <td>{{attend.trip.plan}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                {% if othersTrips %}
                <h4>Other User's Travel Plans</h4>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Destination</th>
                        <th>Travel Start Date</th>
                        <th>Travel End Date</th>
                        <th>Do you want to join?</th>
                    </tr>
                    {% for othersTrip in othersTrips %}
                    <tr>
                        <td>{{othersTrip.user.name}}</td>
                        <td><a href="{% url 'trip_detail' othersTrip.id %}">{{othersTrip.destination}}</a></td>
                        <td>{{othersTrip.start_date}}</td>
                        <td>{{othersTrip.end_date}}</td>
                        <td><a href="{% url 'join' othersTrip.id %}">Join</a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                <a href="{% url 'add'%}">Add Travel Plan</a>
            </div><!--end your_trips-->

        </div><!--end container-->
    </body>
</html>
